$topbarbgcolor: #222;
$searchbordercolor: #555;
$suggestionbordercolor: rgba(100, 100, 100, 0.5);
$weatherinfobgcolor: rgb(22, 54, 75);

#topbar {
    height: 140px;
    min-height: 15vh;
    background-color: $topbarbgcolor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 32px;

    h1 {
        width: 100%;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }

    %topinputs {
        width: 100%;
        max-width: 1024px;
        min-height: 32px;
        padding: 0 16px;
    }

    &_input {
        @extend %topinputs;
        font-size: 16px;
        padding: 0 16px;
        /*text-align: center;*/
        border: 2px solid $searchbordercolor;
        border-radius: 4px;

        &_suggestion{
            @extend %topinputs;
            border: 2px solid $suggestionbordercolor;
            color: #444;
            font-size: 0.8em;
            line-height: 32px;
            visibility: hidden;
            background-color: rgba(240, 240, 240, 0.9);
            &:hover {
                background-color: rgba(240, 240, 240, 1);
                cursor: pointer;
            }
        }
    }
}

#scrollup {
    background-color: rgba(240, 240, 240, 0.8);
    width: 128px;
    height: 24px;
    border-radius: 6px;
    line-height: 24px;
    text-align: center;
    color: #222;
    font-size: 0.8em;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    visibility: hidden;
    &:hover {
        background-color: rgba(245, 245, 245, 0.9);
        cursor: pointer;
    }
    &_wrapper {
        position: fixed;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        top: 8px;
        padding: 8px;
    }
}

#olmap {
    width: 100%;
    height: 256px;
    min-height: 85vh;
}


#weatherinfo {
    background-color: $weatherinfobgcolor;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    text-align: center;
    h2 {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    &_temp {
        &_feel {
            color: #bbb;
            font-size: 0.8em;
        }
    }

    &_desc {
        text-transform: capitalize;
        margin-bottom: 16px;
    }

    %winames {
        margin-top: 16px;
        font-weight: bold;
        font-size: 0.9em;
    }

    &_wind {
        &_name {
            @extend %winames;
        }
    }

    &_cloudiness {
        &_name {
            @extend %winames;
        }
    }

    &_windicon {
        width: 24px;
        height: 24px;
        margin: 0 8px;
    }
}