#topbar {
  height: 140px;
  min-height: 15vh;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 32px;
}

#topbar h1 {
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#topbar #topbar_input, #topbar #topbar_input_suggestion {
  width: 100%;
  max-width: 1024px;
  min-height: 32px;
  padding: 0 16px;
}

#topbar_input {
  font-size: 16px;
  padding: 0 16px;
  /*text-align: center;*/
  border: 2px solid #555;
  border-radius: 4px;
}

#topbar_input_suggestion {
  border: 2px solid rgba(100, 100, 100, 0.5);
  color: #444;
  font-size: 0.8em;
  line-height: 32px;
  visibility: hidden;
  background-color: rgba(240, 240, 240, 0.9);
}

#topbar_input_suggestion:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

#scrollup {
  background-color: rgba(240, 240, 240, 0.8);
  width: 128px;
  height: 24px;
  border-radius: 6px;
  line-height: 24px;
  text-align: center;
  color: #222;
  font-size: 0.8em;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

#scrollup:hover {
  background-color: rgba(245, 245, 245, 0.9);
  cursor: pointer;
}

#scrollup_wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  padding: 8px;
}

#olmap {
  width: 100%;
  height: 256px;
  min-height: 85vh;
}

#weatherinfo {
  background-color: #16364b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  text-align: center;
}

#weatherinfo h2 {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#weatherinfo_temp_feel {
  color: #bbb;
  font-size: 0.8em;
}

#weatherinfo_desc {
  text-transform: capitalize;
  margin-bottom: 16px;
}

#weatherinfo #weatherinfo_wind_name, #weatherinfo #weatherinfo_cloudiness_name {
  margin-top: 16px;
  font-weight: bold;
  font-size: 0.9em;
}

#weatherinfo_windicon {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}
/*# sourceMappingURL=App.css.map */